// atomic design
// atom

.a__logo {
  background-image: asset-data-url('logo.svg');
  width: 132px;
  height: 40px;
  background-size: cover;
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
}

a.a__logo-link {
  height: 40px;
}

a.a__button, .a__button{
  display: inline-block;
  background-color: $main-color;
  padding: 20px 30px;
  border: 2px solid white;
  @include border-radius(10px);
  font-weight: bold;
  line-height: 1;
  color: white;
  text-decoration: none;
  @include transition(all,0.3s);
  &:hover {
    background-color: #ffbb22;
  }
}

h2 {
  color: #6A6A6A;
  font-size: 21px;
}

.a__read-more {
  padding-top: 16px;
  display: block;
  text-align: right;
}

.a__breadcrumb {
  ol {
    li {
      display: inline-block;
      font-size: 12px;
      &:after {
        margin-left: 10px;
        margin-right: 10px;
        @include fa("\f105");
      }
      &:last-child	{
        &:after {
          content: none;
        }
      }
    }
  }
}

// form 系 css

.mol__submit-wraper {
  padding-top: 4px;
  input {
    &.a__button-basic {
      display: block;
      margin: auto;
      padding: 8px 20px;
      font-size: 14px;
      border: 1px solid $basic-frame;
      @include border-radius(3px);
      @include gradient(#ffffff, #F1F1F1, vertical);
      &:hover {
        box-shadow: none;
        cursor: pointer;
        @include gradient(#f7f7f7, #e4e4e4, vertical);
      }
    }
  }
}
