// atomic design
// atom

.a__logo {
  background-image: asset-data-url('logo.svg');
  width: 120px;
  height: 37px;
  background-size: cover;
  display: inline-block;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

a.a__button {
  display: inline-block;
  background-color: $main-color;
  padding: 20px 30px;
  border: 2px solid white;
  @include border-radius(10px);
  font-weight: bold;
  color: white;
  text-decoration: none;
  // @include transition(all,0.3s); TODO 何故か通らない
  &:hover {
    background-color: #ffc522;
  }
}
