// atomic design

.a__logo {
  background-image: asset-data-url('logo.svg');
  width: 120px;
  height: 37px;
  background-size: cover;
}

.a__button {
  background-color: $main-color;
  padding: 20px 30px;
}
