// color

/* レイアウト */
// ブランドカラー
$main-color: #FF8F00;
// ブロックの縁枠カラー
$basic-frame: #D8D8D8;


/* 背景カラー */
// main背景
$basic-bg: white;
// コンテンツ背景
$content-bg: #F9F7F7;


/* リンク */
// リンクカラー (ブランドカラーと同じ)
$basic-link: #FF8F00;
// サブリンクカラー (比較的目立つ必要が無いリンクカラー)
$sub-link: #4C6371;


/* テキスト */
//コンテンツ
$basic-content-text: #6A6A6A;
