html {
  -webkit-text-size-adjust: 100%;
  margin: 0 !important;
  word-wrap: break-word;
  font-family:"メイリオ", "Meiryo", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック","MS P Gothic", Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  word-wrap: break-word;
}

body {
  text-transform: none !important;
}

h1,h2,h3,h4 {
  text-align: justify;
}

a {
  text-decoration: none;
  color: #4C6371;
  &:hover {
    text-decoration: underline;
  }
}
